

<div class="create-link-container">
    <a  class="create-link" href="/create"> create new blog</a>
</div>


    <section id="all-contents">
    <div class="inside">
        <div class="title">cool coder</div>
        <div class="image-container">
            <img class="image" src="https://www.incimages.com/uploaded_files/image/1920x1080/getty_655998316_2000149920009280219_363765.jpg" alt="">
        </div> 
        <span></span>
        <p class="description"></p>
        <div class="btn-container">
            <a class="btn" href="#">Show me</a>
        </div>
        <div class="hr"></div>
    </div>
    
  
</section>






